[submodule "40423206"]
	path = 40423206
	url = https://github.com/40423206/2017springcd_hw.git
	branch = gh-pages
[submodule "40423226"]
	path = 40423226
	url = https://github.com/40423226/2017springcd_hw.git
	branch = gh-pages
[submodule "40423229"]
	path = 40423229
	url = https://github.com/40423229/2017springcd_hw.git
	branch = gh-pages
[submodule "40423241"]
	path = 40423241
	url = https://github.com/40423241/2017springcd_hw.git
	branch = gh-pages
